projects/OG-Integration/src/main/resources/portfolio-schemas/portfolio-schema-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="fxOptionTrade" type="fxOptionTrade"/>
  <xs:element name="og-portfolio" type="portfolioDocumentV10"/>
  <xs:element name="position" type="position"/>
  <xs:element name="positionRef" type="positionRef"/>
  <xs:element name="swapTrade" type="swapTrade"/>
  <xs:element name="trade" type="trade"/>
  <xs:element name="tradeRef" type="tradeRef"/>
  <xs:complexType name="portfolioDocumentV10">
    <xs:all>
      <xs:element minOccurs="0" name="portfolios">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="portfolio" type="portfolio"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="positions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="position"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="trades">
        <xs:complexType>
          <xs:sequence>
            <xs:choice maxOccurs="unbounded" minOccurs="0">
              <xs:element ref="trade"/>
              <xs:element ref="fxOptionTrade"/>
              <xs:element ref="swapTrade"/>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="schemaVersion" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="portfolio">
    <xs:sequence>
      <xs:element minOccurs="0" name="positions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="position" type="positionRef"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="trades">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="trade" type="tradeRef"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element maxOccurs="unbounded" minOccurs="0"
                  name="portfolio" type="portfolio"/>
    </xs:sequence>
    <xs:attribute name="name" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="positionRef">
    <xs:sequence>
      <xs:element minOccurs="0" ref="position"/>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:IDREF"/>
  </xs:complexType>
  <xs:complexType name="position">
    <xs:all>
      <xs:element minOccurs="0" name="trades">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="trade" type="tradeRef"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="quantity" type="xs:decimal"/>
      <xs:element minOccurs="0" name="security" type="idWrapper"/>
    </xs:all>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>
  <xs:complexType name="tradeRef">
    <xs:sequence>
      <xs:element minOccurs="0" ref="trade"/>
    </xs:sequence>
    <xs:attribute name="ref" type="xs:IDREF"/>
  </xs:complexType>
  <xs:complexType name="trade">
    <xs:sequence>
      <xs:element minOccurs="0" name="externalSystemId" type="idWrapper"/>
      <xs:element minOccurs="0" name="tradeDate" type="xs:string"/>
      <xs:element minOccurs="0" name="maturityDate" type="xs:string"/>
      <xs:element minOccurs="0" name="settlementDate" type="xs:string"/>
      <xs:element minOccurs="0" name="counterparty" type="idWrapper"/>
      <xs:element minOccurs="0" name="premium" type="xs:decimal"/>
      <xs:element minOccurs="0" name="premiumCurrency" type="xs:string"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID"/>
  </xs:complexType>
  <xs:complexType name="idWrapper">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="extId"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="extId">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="scheme" type="xs:string"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="fxOptionTrade">
    <xs:complexContent>
      <xs:extension base="trade">
        <xs:sequence>
          <xs:element minOccurs="0" name="callPut" type="callPut"/>
          <xs:element minOccurs="0" name="buySell" type="buySell"/>
          <xs:element minOccurs="0" name="currencyPair" type="xs:string"/>
          <xs:element minOccurs="0" name="optionCurrency" type="xs:string"/>
          <xs:element minOccurs="0" name="notional" type="xs:decimal"/>
          <xs:element minOccurs="0" name="notionalCurrency" type="xs:string"/>
          <xs:element minOccurs="0" name="expiryDate" type="xs:string"/>
          <xs:element minOccurs="0" name="expiryCutoff" type="xs:string"/>
          <xs:element minOccurs="0" name="settlementType" type="settlementType"/>
          <xs:element minOccurs="0" name="settlementCurrency" type="xs:string"/>
          <xs:element minOccurs="0" name="exerciseType" type="exerciseType"/>
          <xs:element minOccurs="0" name="strike" type="xs:decimal"/>
          <xs:element minOccurs="0" name="expiryCalendars">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded"
                            minOccurs="0" name="calendar" type="calendar"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="settlementCalendars">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded"
                            minOccurs="0" name="calendar" type="calendar"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="calendar">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="extId"/>
    </xs:sequence>
    <xs:attribute name="type" type="type"/>
  </xs:complexType>
  <xs:complexType name="swapTrade">
    <xs:complexContent>
      <xs:extension base="trade">
        <xs:sequence>
          <xs:element minOccurs="0" name="effectiveDate" type="xs:string"/>
          <xs:element minOccurs="0" name="fixedLeg" type="fixedLeg"/>
          <xs:element minOccurs="0" name="floatingLeg" type="floatingLeg"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fixedLeg">
    <xs:complexContent>
      <xs:extension base="swapLeg">
        <xs:sequence>
          <xs:element minOccurs="0" name="rate" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType abstract="true" name="swapLeg">
    <xs:sequence>
      <xs:element minOccurs="0" name="payReceive" type="direction"/>
      <xs:element minOccurs="0" name="currency" type="xs:string"/>
      <xs:element minOccurs="0" name="notional" type="xs:decimal"/>
      <xs:element minOccurs="0" name="frequency" type="xs:string"/>
      <xs:element minOccurs="0" name="dayCount" type="xs:string"/>
      <xs:element minOccurs="0" name="interestCalculation" type="interestCalculation"/>
      <xs:element minOccurs="0" name="businessDayConvention" type="xs:string"/>
      <xs:element minOccurs="0" name="scheduleGenerationDirection" type="xs:string"/>
      <xs:element name="endOfMonth" type="xs:boolean"/>
      <xs:element name="isIMM" type="xs:boolean"/>
      <xs:element minOccurs="0" name="paymentCalendars">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="calendar" type="calendar"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="stubPeriodType" type="stubPeriodType"/>
      <xs:element minOccurs="0" name="stubPeriodTypeAdjustment" type="stubPeriodTypeAdjustment"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="floatingLeg">
    <xs:complexContent>
      <xs:extension base="swapLeg">
        <xs:sequence>
          <xs:element minOccurs="0" name="resetFrequency" type="xs:string"/>
          <xs:element minOccurs="0" name="compoundingMethod" type="xs:string"/>
          <xs:element minOccurs="0" name="resetLag" type="xs:string"/>
          <xs:element minOccurs="0" name="resetType" type="resetType"/>
          <xs:element minOccurs="0" name="fixingCalendars">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded"
                            minOccurs="0" name="calendar" type="calendar"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="fixingIndex" type="fixingIndex"/>
          <xs:element minOccurs="0" name="spread" type="xs:decimal"/>
          <xs:element minOccurs="0" name="gearing" type="xs:decimal"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="fixingIndex">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="extId"/>
      <xs:element minOccurs="0" name="rateType" type="rateType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="callPut">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Call"/>
      <xs:enumeration value="Put"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="buySell">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Buy"/>
      <xs:enumeration value="Sell"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="settlementType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Physical"/>
      <xs:enumeration value="CashSettled"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="exerciseType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="European"/>
      <xs:enumeration value="American"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="type">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Bank"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="direction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Pay"/>
      <xs:enumeration value="Receive"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="interestCalculation">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Adjusted"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stubPeriodType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Long"/>
      <xs:enumeration value="Short"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="stubPeriodTypeAdjustment">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LongCoupon"/>
      <xs:enumeration value="ShortCoupon"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="resetType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="InAdvance"/>
      <xs:enumeration value="InArrears"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="rateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="OIS"/>
      <xs:enumeration value="CMS"/>
      <xs:enumeration value="IBOR"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
